:root {
  --clr-primary: #121e2a;
  --clr-secondary: rgb(226, 106, 106);
  --clr-tertiary: #d4ac47;
  --clr-text: #e9e2e2;
  --clr-background: #181620;

  --clr-primary-card: #121e2a;


  --clr-warning: #f0cd77;
  --clr-success: rgba(0, 255, 0, 0.3);
  --clr-error: rgb(226, 106, 106);
  --clr-info: rgb(66, 197, 248);
}

body.dark {
  --clr-primary-card: #d3d7db;
  --clr-text: #2a2832;
  --clr-background: #c8c3c3;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-text);
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: var(--clr-text);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--clr-secondary);
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 3rem 0;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

/* Main Layouts */

body, html, .website-wrapper {
  height: 100%;
}

.website-wrapper {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

/* Sections */

.section-content-wide {
  max-width: 90rem;
}

.section-content-narrow {
  max-width: 90rem;
}

.section-content-wide, .section-content-narrow {
  margin-inline: auto;
}

.section-gap {
  padding: 3rem;
}

/* Utilities */

.pb-base {
  padding-bottom: 3rem;
}

.mt-base {
  margin-top: 3rem !important;
}

.center {
  text-align: center;
}

/* Header */

.header {
  /* background: var(--clr-primary);
  color: var(--clr-white); */
}

.header a {
  /* color: var(--clr-white); */
}

.header a:hover {
  color: var(--clr-secondary);
  text-decoration: none;
}

/* Menu */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items {
  flex-flow: row wrap;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  font-size: 35px;
}

/* Card Grid */

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
  gap: 2.5rem;
}

.card {
  border: 1px solid var(--clr-light-gray);
  border-radius: 0.4rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: scale 300ms ease-in-out, box-shadow 300ms ease-in-out;
  background-color: var(--clr-primary-card);
}

.card:hover {
  scale: 1.02;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-text-wrapper {
  padding: 3rem;
}

.card-cover-wrapper {
  aspect-ratio: 16 / 9;
}

.card-cover {
  height: 100%;
  border-radius: 0.4rem 0.4rem 0 0;
  aspect-ratio: 16 / 9;
  object-position: center;
  object-fit: cover !important;
  transition: opacity 300ms ease-in-out;
}

.card-cover:hover {
  opacity: 0.8;
}

.card-title-link {
  color: inherit;
}

.card-title-link:hover {
  text-decoration: none;
}

.card-title {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.card-actions {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;
}

.card-action-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.card-action-link:hover {
  text-decoration: none;
}

/* Button Styles */
.btn {
  background-color: orange !important;
  color: var(--clr-white) !important;
  font-weight: bold !important;
  font-size: 1.6rem !important;
  border: none !important;
  padding: 1rem 2rem !important;
  border-radius: 0.4rem !important;
  cursor: pointer !important;
  transition: filter 300ms ease-in-out !important;
  text-decoration: none !important;
  display: inline !important;
}

.btn:hover {
  filter: brightness(85%) !important;
}

.btn:focus, .btn:active {
  filter: brightness(70%) !important;
  box-shadow: 0 0 5px var(--clr-black) !important;
} 

  .btn-delete {
  background: var(--clr-error) !important;
}

/* Single Post */
.single-post-content {
  padding-top: 3rem;
}

.single-post-title, .single-post-excerpt {
  margin: 0;
}

.single-post-excerpt {
  color: var(--clr-gray);
  font-size: 2rem;
  font-style: italic;
}

/* Post Meta */
.post-meta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-flow: row wrap;
}

.post-meta-link {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  color: var(--clr-gray);
  text-decoration: none;
}

.post-meta-link:hover {
  text-decoration: none;
}

/* Post tags */
.post-tags {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1.5rem;
}

.post-tags .post-tag-link, .post-tags .post-tag-link i {
  color: var(--clr-gray);
}

.post-tags .post-tag-link:hover, .post-tags .post-tag-link:hover i {
  color: var(--clr-secondary);
  text-decoration: none;
}

.post-tag-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

/* Sign In and Sign Up Menu*/

.sign-section{
    display: grid;
    place-items: center;
    height: 100vh;
}

.sign-container{
    max-width: 120rem; /*1920px*/
    margin: 0 auto;
    padding: 4rem;
    text-align: center;
    min-width: 40%;
}

.sign-section form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sign-section input {
  padding: 0.8rem 1.2rem;
  background: var(--clr-background);
  border-radius: 1rem;
  resize: none;
  color: var(--clr-text);
}

.sign-section input:focus{
  outline: none;
}

.sign-section .btn{
  font-size: 1.2rem !important;
  padding: 0.5rem !important;
  border-radius: 1rem !important;
}

.sign-section small {
  font-size: 0.9rem;
  margin-top: 0.2rem;
  display: block;
}

/* Alert Messages */
.alert-msg {
  padding: 0.4rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.alert-msg.error{
    background: #cb5959;
    color: white;
}

.alert-msg.success {
  background: lightgreen;
  color: green;
}

.sign-container p{
  margin: 0.3rem;
  font-size: 1rem;
}
/* 
DASHBOARD
*/
.dashboard {
  margin-top: 6rem;
}

.sidebar__toggle {
  display: none;
}

.dashboard__container {
  display: grid;
  grid-template-columns: 14rem auto;
  gap: 1rem;
  background: var(--color-gray-900);
  padding: 2rem;
  margin-bottom: 5rem;
}

.dashboard aside a {
  background: var(--color-primary);
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.6rem;
}

.dashboard aside ul li:not(:last-child) a {
  border-bottom: 1px solid var(--color-gray-900);
}

.dashboard aside a:hover {
  background: var(--color-gray-700);
}

.dashboard aside a.active {
  background: var(--color-gray-900);
}

.dashboard main {
  margin-left: 1.5rem;
}

.dashboard main h2 {
  margin: 0 0 2rem 0;
  line-height: 1;
}

.dashboard main table {
  width: 100%;
  text-align: left;
}

.dashboard main table th {
  background: var(--color-gray-700);
  padding: 0.8rem;
  color: var(--color-white);
}

.dashboard main table td {
  padding: 0.8rem;
  border-bottom: 1px solid var(--color-gray-200);
}

.dashboard main table tr:hover td {
  background: var(--clr-background);
  color: var(--clr-text);
  cursor: default;
  transition: var(--transition);
}


